<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nail Disease Detection</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="nav-left">
            <a href="/" class="nav-title">Nail Disease Detection</a>
        </div>
        <nav class="nav-right">
            <a href="/about">About</a>
            <a href="/team">Team</a>
            <a href="https://github.com/brianli378/cv-nail-disease-detection" target="_blank">Code</a>
        </nav>
    </header>
    <main>
        <div class="upload-container">
            <form id="upload-form">
                <label for="file-upload" class="custom-file-upload">
                    Upload Image
                </label>
                <input type="file" id="file-upload" name="file" accept="image/*" required>
                <button type="submit">Predict</button>
            </form>
            <div id="result" class="result"></div>
        </div>
    </main>
    <script src="/static/script.js"></script>
</body>
</html>
