<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="nav-left">
            <a href="/" class="nav-title">Nail Disease Detection</a>
        </div>
        <nav class="nav-right">
            <a href="/about">About</a>
            <a href="/team">Team</a>
            <a href="https://github.com/brianli378/cv-nail-disease-detection" target="_blank">Code</a>
        </nav>
    </header>
    <main>
        <div class="content">
            <h1>Team</h1>
            <ul>
                <li><strong>Brian</strong> Li</li>
                <li><strong>Alex</strong> Yao</li>
                <li><strong>Gurpreet</strong> Singh</li>
            </ul>
        </div>
    </main>
</body>
</html>
